# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [ ]:
import pandas as pd
fruit = pd.DataFrame([[30,21]], columns = ["Apples", "Bananas"])
print(fruit)

   Apples  Bananas
0      30       21

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [ ]:
fruit_vendors = pd.DataFrame([[ 35,21], [41,34]], columns = ["Apples", "Bananas"], index = ['2017 Sales', '2018 Sales'])
print(fruit_vendors)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

[This resource could help you](https://www.w3schools.com/python/pandas/ref_df_items.asp)

In [ ]:
for col in fruit_vendors.columns:
    print(f"Nombre de , {col}: {fruit_vendors[col].values}")

Nombre de , Apples: [35 41]
Nombre de , Bananas: [21 34]

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://sparkbyexamples.com/pandas/pandas-drop-first-row-of-dataframe/#google_vignette)

In [ ]:
fruit_vendors = fruit_vendors.drop('2017 Sales')
print(fruit_vendors) #equivalent pop() pour les liste ;)

            Apples  Bananas
2018 Sales      41       34

# Mission 5

Delete the first column from the dataframe from mission 2.

In [ ]:
fruit_vendors = fruit_vendors.drop('Apples',axis= 1)
print(fruit_vendors)

            Bananas
2018 Sales       34